<div id="slide-show-root">
  <div id="slide-show">
    <div id="slide-show-left" [ngClass]="{ 'disabled': false }">
      <img src="../../assets/images/left.png" class="slider">
    </div>
    <div id="slide-show-main">
      <li>
        <img [src]="">
        <!-- ↓課題2で使用 -->
        <!-- <div id="tag-view-area">
          <span>tag</span>
        </div> -->
      </li>
    </div>
    <div id="slide-show-right" [ngClass]="{'disabled': false}">
      <img src="../../assets/images/right.png" class="slider">
    </div>
  </div>
</div>